/.quarto/
data/external/HWSD2_RASTER/
src/__pycache__/]

# Ignore everything in the data/outputs directory
data/outputs/*

# But do not ignore the sensitivity_analysis subdirectory
!data/outputs/sensitivity_analysis/

# However, do track the content within the sensitivity_analysis subdirectory
!data/outputs/sensitivity_analysis/*

# Ignore all files in data/temp/, storing example results
data/temp/*

# Except the folder itself
!data/temp/

# Ignore all .pyc files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logging file for batch processing
scripts/error_index.txt
