/.quarto/
data/external/HWSD2/
data/external/HWSD2_RASTER/
data/temp/
src/__pycache__/]

# Ignore everything in the data/outputs directory
data/outputs/*

# But do not ignore the sensitivity_analysis subdirectory
!data/outputs/sensitivity_analysis/

# However, do track the content within the sensitivity_analysis subdirectory
!data/outputs/sensitivity_analysis/*